<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="WeatherUrl" value="http://192.168.123.8/virtualcw.php"/>
    <add key="ExitAfterClose" value="1"/>
    <add key="MaxTemperature" value="99"/>
    <add key="MaxTemperature" value="99"/>
    <add key="MaxHumidity" value="99"/>
    <add key="MinHumidity" value="1"/>
    <add key="MaxCloud" value="0"/>
    <add key="MinCloud" value="-50"/>
    <add key="MaxRain" value="9999"/>
    <add key="MinRain" value="800"/>
    <add key="MaxWind" value="20"/>
    <add key="MinWind" value="0"/>
    <add key="MaxGust" value="20"/>
    <add key="MinGust" value="0"/>
    <add key="MaxLight" value="2000"/>
    <add key="MinLight" value="0"/>
    <add key="MaxHour" value="17:00"/>
    <add key="MinHour" value="10:00"/>
    <add key="ProcessName" value="Talon6_ROR"/>
    <add key="ASCOMDriver" value="Talon6_ROR.Dome"/>
    <add key="WaitAfterExit" value="1"/>
  </appSettings>
</configuration>
